* {
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

nav {
    width: 81.25%;
    margin: 0 auto;
    margin-top: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 44px;
}


nav ul a {
    text-decoration: none;
    color: #424247;
    font-size: 1.2rem;
    font-weight: 400;
}

.banner-section {
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);

    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    margin-bottom: 30px;

}

.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    text-align: center;
    padding-top: 106px;
    padding-bottom: 24px;
    margin-bottom: 0px;
}

.banner-des {
    color: #FFF;

    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;

}

.banner-form {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;

    align-items: center;
    gap: 24px;
}
.when{
    border-radius: 8px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
background: #FFF;
width: 160px;
height: 52px;
padding-left: 15px;
margin-left: 22px;

}
.banner-btn {
    display: flex;
    align-items: center;
    padding-left: 16px;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

/* Tour Sec*/


.tours {
    width: 81.25%;
    max-width: 1170px;
    display: flex;
    gap: 40px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.tours div {
    flex: 1;
}

.tours-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.tours-img img {
    width: 100%;
}


.tours-des {
    margin: 24px 0;
}

.tours-content p {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
}

.tours-content ul {

    margin-left: 30px;
}

.read {
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 15px 35px;
    background-color: #FF5400;
    font-size: 20px;
    font-weight: bold;
    margin-top: 32px;
}

.read:hover {
    color: #ff0000;
    background-color: white;
}

/* destination */
.destination {
    width: 81.25%;
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
}

.destination-title,
.choose-title {
    color: #131318;
    margin-bottom: 24px;
    font-size: 2.5rem;
    font-weight: 800;
}

.destination-des,
.choose-des {
    width: 50%;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto;
    margin-bottom: 48px;
}


.destination-image {
    display: grid;
    gap: 24px;
}

.image-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.image-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.image-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

/* choose sec */
.choose {
    width: 81.25%;
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 100px;

}

.choose-div {
    max-width: 573px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 2rem 3.5rem 2rem 2rem;
}



.choose-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.div-3 {
    grid-column: 1/-1;
    margin: 0 auto;
}

/* deal sec*/
.deals {
    width: 81.25%;
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.deals>h2,
.deals>p {
    text-align: center;

}

.deals>p {
    margin-top: 24px;
    margin-bottom: 48px;
    padding: 0 150px;
}

.deal {
    height: 500px;
    width: 100%;

    position: relative;

    margin-bottom: 24px;


}

.deal p {
    margin-top: 16px;
    margin-bottom: 16px;
}

.deal img {
    width: 100%;
    height: 100%;
}

#deal1 {}

.deal-text {
    max-width: 580px;
    border-radius: 16px;

    background: rgba(255, 255, 255, 0.80);
    padding: 50px;


}

.deals-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.text1 {
    position: absolute;
    right: 50px;
    top: calc(100% - 90%);
}

.text2 {
    position: absolute;
    left: 50px;
    top: calc(100% - 90%);
}

.deal-text h2 {
    font-size: 24px;
    font-weight: bold;
}

.btn-center {
    display: flex;
    justify-content: center;
}


/* newsletter */

.newsletter {

    width: 81.25%;
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 100px;
    gap: 24px;

}

.newsletter-left {
    flex: 1;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsletter-left-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 16px;
}

.newsletter-left-des {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.newsletter-right-tag {
    border-radius: 16px;
    background: #FF5400;
    transform: rotate(-19.628deg);
}

.newsletter-hr {
    height: 1px;
    width: 100%;
    margin: 24px auto;
    background: rgba(19, 19, 24, 0.10);
}

.form input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 16px 0;
    padding-left: 20px;
    border: 0;

    margin-bottom: 16px;
}

.subscribe-btn {
    padding: 16px 0;
    padding-left: 20px;
    background: #FF5400;
    border-radius: 8px;
    border: 0;
    margin-top: 16px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    transition: all 1s;
}

.subscribe-btn:hover {
    color: #FF5400;
    background: #FFF;
}

.newsletter-right {
    position: relative;
    flex: 1;
}

.newsletter-right-tag {
    text-align: center;
    border-radius: 16px;
    background: #FF5400;
    transform: rotate(-19.628deg);
    position: absolute;
    padding: 20px 50px;
    bottom: 20%;
    right: 5%;

}

.newsletter-right-tag p {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
}

.newsletter-right-tag h4 {
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}

/* footer */
footer {
    width: 100%;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    padding: 110px 0;
}


footer p {
    width: 70%;
    margin: 0 auto;
}

.footer-heading,
.nav-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
}

.footer-des {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 32px;
}

.orange {
    color: #FF5400;
    font-size: 2rem;
    font-weight: 800;
}

.nav-home {
    color: #FF5400;
    font-size: 1.2rem;
    font-weight: 700;
}

.hero {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

hr {
    width: 60%;
    margin: 50px auto;
}
/* end project */











/* responsive media query */
@media screen and (max-width:600px) {
    nav ul li {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .banner-dropdown {
        flex-direction: column;
        gap: 16px;
    }

    .banner {
        width: calc(100%-40px);
        background-position: center;
        text-align: center;

        padding: 0;
        padding: 0 20px;
        margin-bottom: 24px;
    }

    .banner-heading {
        font-size: 22px;
        margin-bottom: 0;
    }

    .banner-des {
        margin-bottom: 0;
    }


    select {
        width: 100%;
    }

    /* .tours */
    .tours {
        width: calc(100%-40px);
        flex-direction: column;
        gap: 24px;
        padding: 0 20px;
        margin-bottom: 24px;
    }

    .tours-content p {
        margin-bottom: 16px;
    }

    .read {
        margin-top: 16px;
    }

    /* .destination { */

    .destination {
        width: calc(100%-40px);
        padding: 0 20px;
        margin-bottom: 24px;
    }

    .destination-image img,
    .destination-des {
        width: 100%;
    }

    .destination-image,
    .image-1,
    .image-2,
    .image-3 {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    

    .choose-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .destination-des,
    .choose-des {
        width: 100%;

    }

    /* deal sec*/
    .deals {
        width: calc(100%-40px);
        padding: 0 20px;
        margin-bottom: 24px;
    }

    .choose-title {
        font-size: 20px;
    }

    .orange {
        font-size: 1.5rem;
    }

    .deal>img {
        width: 100%;
        margin: 0 auto;
    }

    .deal-text {
        width: 80%;
    }

    .text1 {
        right: 20px;
        padding: 10px 20px;
        top: 110px;
    }

    .text2 {
        left: 20px;
        padding: 10px 20px;
        top: 110px;

    }

    .deals-icons {
        flex-wrap: wrap;
    }

    .deals>p {
        padding: 0 10px;
    }


    /* newsletter */
    .newsletter {
        flex-direction: column;
    }

    .newsletter-right img {
        width: 100%;
    }

    .newsletter-right-tag {
        padding: 16px 30px;

    }

    .newsletter-right-tag p {
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 15.854px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .newsletter-right-tag h4 {
        color: #FFF;
        font-family: Mulish;
        font-size: 21.138px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    /* footer */


    hr {
        margin: 24px auto;
    }
    
}